*~
public/vendor/*

drywall-workbench/node_modules/*

*.min.js
*.min.js.map
*.min.css
/config.js
.nodemonignore
drywall-workbench/public/editor
.idea
data
drywall-workbench/workbench/rmlmapper
!drywall-workbench/workbench/rmlmapper/RML-Mapper.jar