extends ../layouts/default

block head
  title RML Visual Tool

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  #myDiv.div.jumbotron

    h1 RML Workbench
    p.lead
      | 
    div
      a.btn.btn-primary.btn-lg(href='/signup') Sign Up!                 
      hr
      pre
         | Welcome, enjoy!
    div.clearfix
  

